@(editExamForm: Form[EditExamForm])(implicit messages: Messages)

@import helper._

@main("Exams calendar - edit exam") {
    <script src="@routes.Assets.versioned("javascripts/examEditor.js")" type="text/javascript"></script>
    <h2>Edit exam</h2>
    @form(routes.ExamController.saveExam()) {
        <input type="hidden" name="id" value="@editExamForm("id").value">
        <div class="form_field_element">
            <span class="form_field_desc">Exam:</span>
            <input type="text" name="name" id="name_field" value="@editExamForm("name").value">
            @if(editExamForm.error("name")) {
                <div class="form_field_error">@Messages(editExamForm.error("name").get.message)</div>
            }
        </div>
        <div class="form_field_element">
            <span class="form_field_desc">Difficulty:</span>
            <div id="level_slider"></div>
            <input type="text" name="level" readonly="readonly" id="level_field" value="@editExamForm("level").value">
        </div>
        <div class="form_field_element">
            <span class="form_field_desc">Date:</span>
            <input type="text" name="date" id="date_field" value="@editExamForm("date").value">
            @if(editExamForm.error("date")) {
                <div class="form_field_error">@Messages(editExamForm.error("date").get.message)</div>
            }
        </div>
        <div class="form_field_element">
            <span class="form_field_desc"> </span>
            <input type="submit" value="Edit exam"/>
        </div>
    }
}
